* {
  margin: 0px;
  padding: 0px;
}

#base {
  width: 1000px;
  height: 500px;
  margin: 30px auto 0px;
  background-color: lightgray;
  /* border: 1px solid black; */
}

#base .lbase {
  width: 460px;
  height: 460px;
  margin: 10px;
  padding: 10px;
  background-color: #7FFFD4;
  float:left;
}

#base .rbase {
  width: 460px;
  height: 460px;
  margin: 10px;
  padding: 10px;
  background-color: #FFD700;
  float: left;
}

.div1 {
  width:130px;
  height: 130px;
  padding: 10px;
  background-color: #6495ED;
}

#base .lbase .lbase_div {
  width: 80px;
  height: 80px;
  padding: 10px;
  background-color: #FFA07A;
}

#base .rbase .rbase_div {
  width: 80px;
  height: 80px;
  padding: 10px;
  background-color: #FFA07A;
  float:left;
}

.div_odd {
  width: 80px;
  height: 80px;
  padding: 10px;
  border: 2px solid red;
  float:left;
}

.div_even {
  width: 80px;
  height: 80px;
  padding: 10px;
  border: 2px solid blue;
  float:right;
}

.div_inherit {
  width: 80px;
  height: 80px;
  padding: 10px;
  border: 2px solid red;
  float:inherit;
}

.div7 {
  width: 130px;
  height: 130px;
  padding: 10px;
  background-color: #BA55D3;
}